body {
    background-color: #101b44;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: hidden;
}

img {
   max-width: 100%;
   /* width: 50vw; */
   display: block;
   height: 45%;



}

.conteudo {
   display: grid;
   grid-column: 1;

}

.registro {
   grid-column: 3;
   max-width: 100%;
   color: #fff;
}

.formulario {
   color: #fff;
}